[user]
	name = {{ .name }}
{{ if eq .entorno "adaion" -}}
	email = adrian.acosa@adaion.energy
{{ else -}}
	email = adrianacosasanchez@proton.me
{{ end -}}

[core]
	editor = code --wait
	pager = delta
[init]
	defaultBranch = main
	diffFilter = delta --color-only
