[user]
	name = Adrián Acosa Sánchez
{{ if eq .entorno "ADAION" -}}
	email = adrian.acosa@adaion.energy
{{ else -}}
	email = adrianacosasanchez@proton.me
{{ end -}}

[core]
	editor = code --wait
	pager = delta
[init]
	defaultBranch = main
	diffFilter = delta --color-only
