#!/bin/bash

# Este script se ejecuta solo si cambia su contenido
echo "🚀 Sincronizando extensiones de VS Code..."

extensions=(
adpyke.codesnap
astro-build.astro-vscode
bierner.markdown-preview-github-styles
bradlc.vscode-tailwindcss
catppuccin.catppuccin-vsc-icons
charliermarsh.ruff
christian-kohler.npm-intellisense
christian-kohler.path-intellisense
chrmarti.regex
daltonmenezes.aura-theme
davidanson.vscode-markdownlint
dbaeumer.vscode-eslint
docker.docker
dsznajder.es7-react-js-snippets
esbenp.prettier-vscode
github.copilot
github.copilot-chat
github.remotehub
github.vscode-pull-request-github
midudev.better-svg
miguelsolorio.fluent-icons
miguelsolorio.symbols
ms-playwright.playwright
ms-python.isort
ms-python.python
ms-python.vscode-pylance
ms-python.vscode-python-envs
ms-vscode-remote.remote-containers
ms-vscode-remote.remote-ssh
ms-vscode-remote.remote-ssh-edit
ms-vscode-remote.remote-wsl
ms-vscode-remote.vscode-remote-extensionpack
ms-vscode.azure-repos
ms-vscode.copilot-mermaid-diagram
ms-vscode.remote-explorer
ms-vscode.remote-repositories
ms-vscode.remote-server
ms-vscode.vscode-copilot-vision
ms-vscode.vscode-websearchforcopilot
ms-vsliveshare.vsliveshare
naumovs.color-highlight
oderwat.indent-rainbow
pflannery.vscode-versionlens
redhat.vscode-yaml
sdras.vue-vscode-snippets
talhabalaj.actual-font-changer
tamasfe.even-better-toml
teabyii.ayu
usernamehw.errorlens
vitest.explorer
vue.volar
wallabyjs.console-ninja
wayou.vscode-todo-highlight
wix.vscode-import-cost
yzhang.markdown-all-in-one
)

for ext in "${extensions[@]}"; do
  code --install-extension "$ext" --force
done

echo "✅ Extensiones actualizadas."

