// Place your key bindings in this file to override the defaults
[
  {
    "key": "ctrl+shift+f6",
    "command": "testing.coverageSelected",
    "when": "testing.hasCoverableTests && !testing.isRunning && view == 'workbench.view.testing'"
  }
]