add_newline = false

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$git_metrics\
$nodejs\
$rust\
$golang\
$python\
$java\
$docker_context\
$kubernetes\
$aws\
$fill\
$time\
$cmd_duration\
$line_break\
$character"""

[fill]
symbol = " "

[directory]
style = "bold blue"
format = "[$path]($style) "

[git_branch]
symbol = " "
style = "bold magenta"
format = "on [$symbol$branch]($style) "

[git_status]
style = "red"
format = "([\\[$all_status$ahead_behind\\]]($style) )"
conflicted = "="
ahead = "⇡"
behind = "⇣"
untracked = "?"
modified = "!"
staged = "+"
deleted = "✘"

[nodejs]
symbol = "⬢ "
style = "bold green"
format = "is [$symbol($version)]($style) "
detect_files = ["package.json", "node_modules"]

[python]
symbol = "🐍 "
format = 'via [${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
style = "yellow bold"
pyenv_version_name = true
detect_files = [".python-version", "pyproject.toml", "requirements.txt", ".venv", "setup.py"]
disabled = false

[docker_context]
symbol = " "
style = "bold blue"
format = "via [$symbol$context]($style) "

[username]
show_always = false
style_user = "bold yellow"
style_root = "bold red"
format = "[$user]($style_user) "

[hostname]
ssh_only = true
style = "bold cyan"
format = "on [$hostname]($style) "

[git_metrics]
disabled = false
format = "([+$added]($added_style) )([-$deleted]($deleted_style) )"

[kubernetes]
disabled = false
symbol = "☸ "
style = "bold cyan"
format = "via [$symbol($context)]($style) "

[aws]
disabled = false
symbol = "☁️ "
style = "bold orange"
format = "via [$symbol($profile)]($style) "

[rust]
symbol = "🦀 "
style = "bold red"
format = "via [$symbol($version)]($style) "

[golang]
symbol = "🐹 "
style = "bold cyan"
format = "via [$symbol($version)]($style) "

[java]
symbol = "☕ "
style = "bold red"
format = "via [$symbol($version)]($style) "

[time]
disabled = false
style = "bold white"
format = "🕙[$time]($style) "
time_format = "%R"

[cmd_duration]
min_time = 2000
style = "italic gray"
format = "took [$duration]($style) "

[character]
{{ if eq .entorno "adaion" -}}
success_symbol = "[💼 ➜](bold blue) "
{{ else -}}
success_symbol = "[🏠 ➜](bold green) "
{{ end -}}
error_symbol = "[➜](bold red) "
